.paddMargNull {
    padding-left: 0;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
/* NAVBAR */
.menu {
    border-radius: 0;
    margin-bottom: 0;
}
.navBarSplit {
    margin-right: 10px;
    font-size: 18px;
}
.navbarPaddLeft {
    padding-left: 20%;
}
.navBarPaddRight {
    padding-right: 20%;
}
.white {
    color: white!important;
}
/* SLIDER */
.sliderHeight {
    height: 400px;
}
.sliderImg {
    height: 100%!important;
    width: 100%;
}
.sliderLine {
    width: 25px!important;
    height: 2px!important;
   border: 1px solid rgb(196, 196, 196)!important;
}
.sliderLine.active {
border: 1px solid white!important;
}
.carouselTitle {
    text-align: right;
    right: 15%;
    margin-bottom: 50px;
}
.carouselTitle p {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.carouselTitle a {
   padding: 10px 20px;
   background: #FA003A;
   border-radius: 2px;
   color: white;
   font-size: 1.2em;
}
.carouselTitle h2 {
    font-size: 5em;
}
/* INFO */
.infoRow {
    padding: 40px 0 70px;
    display:flex;
    justify-content: space-between;

}
.homeInfoBox{
    width: 30%;

}
.homeInfoBox h2 {
    margin-top: 10px;
}
.homeInfoBox p {
    font-size: 1.2em;
}
.glyph {
    font-size: 3.5em;
}
/* HOME START */
.homeStartBg {
    background-position-y: 30%;
    background: url("http://www.wallpapers4u.org/wp-content/uploads/tokyo_japan_city_night_lights_63139_1920x1080.jpg") no-repeat fixed center;
}
.homeStartOverlay {
    background: rgba(0, 2, 29, 0.7);
}
.homeStart {
    padding: 30px 0;
   color: white;
}
.homeStart h2 {
    font-size: 3em;
}
/* HOME EXAMPLE */
.homeExample {
    padding: 30px 0;
}
.homeExampleBoxBg {
    background-image: url("Images/laptop.png");
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.homeExampleBox {
    height: 300px;
    display: flex;
    align-items: center;
}
.homeExampleBox div {
    padding-bottom: 30px;
}
.homeExampleBox div p {
    margin-bottom: 30px;
}
.homeExampleBox a {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #FA003A;
    border-radius: 5px;
    color: #FA003A;
    text-decoration: none;
    font-size: 1.2em;
}
/* HOME VIDEO */
.homeVideo {
    
    background-image: url("Images/media.jpg");
    background-attachment: fixed;
    color: white;
}
.homeVideoOverlay {
    padding: 40px 0;
    background: rgb(0,0,0, 0.8);
}
.homeVideoOverlay h2 {
    font-size: 3em;
    margin-top: 10px;
}
.homeVideo span {
    font-size: 3.6em;
}

.modalWindow {
    margin-top: 150px;
}
.modalWindowHeader {
    height: 20px;
    border-bottom: none!important;
}
/* GALLERY */
.homeGallery {
    padding: 30px 0 60px;
}
.homeGalleryBox {
    height: 300px;
} 
.homeGalleryBox img:hover {
    cursor: pointer;
}
.homeGalleryRowM {
    margin-top: 30px;
}
.homeGalleryBox a {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}
.homeGalleryBox img {
    width: 100%;
    height: 100%;
}
.galleryModal img {
    height: 560px;
}
/* FOOTER */
.footer {
    background: #393E43;

}
.footerSignUp {
    color: white;
    padding: 15px 0 40px 0;
}
.homeInput {
    border-radius: 3px;
    border: none;
    height: 33px;
}
.homeInputText {
    width: 200px;
    padding-left: 15px;
    color: black;
}
.mLeftRight10 {
    margin: 10px 10px 0;
}
.homeInputSubmit {
    background: #4D3BF5;
    width: 80px;
}
.footerC {
    padding: 20px 0 20px 0;
    background: black;
    color: white;
}
@media only screen and (max-width: 992px) {
    .navbarPaddLeft {
        padding-left: 0;
    }
    .navBarPaddRight {
        padding-right: 0;
    }
    .infoRow {
        padding: 40px 5%;
    }
    .homeExample {
        padding: 0 20px;
    }
    .homeExampleBoxBg {
        height: 250px;
    }
    .homeExampleBox {
        height: 250px;
    }
    .homeGalleryBox {
        height: 200px;
    }
    .homeGallery h2 {
        font-size: 2.3em;
    }
    .homeGallery p {
        font-size: 1.5em;
    }
    .homeVideoOverlay h2 {
        font-size: 2.5em;
    }
    .galleryModal img {
        height: 400px;
    }
}
@media only screen and (max-width: 425px) {
    .infoRow {
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 5% 80px;
    }
    .homeInfoBox {
        margin-top: 40px;
        width: 80%;
    }
    .homeStart {
        padding:30px 20px 50px;
    }
    .homeStart h2 {
        font-size: 4em;
    }
    .homeExample {
        padding-bottom: 30px;
    }
    .modalWindow {
        max-width: 95%;
        margin: 150px 10px;
    }
    .homeGalleryBox {
        height: 300px;
    }
    .homeVideoOverlay h2 {
        font-size: 2em;
    }
    .homeGallery h2 {
        font-size: 2.7em;
    }
    .homeGallery p {
        font-size: 1.5em;
    }
    .galleryModal img {
        height: 300px;
    }
    .homeInput {
        display: block;
        margin: 10px auto;
    }
    .homeInputText {
        width: 220px;
    }
}

/* ------------ABOUT US PAGE------------ */

.aboutHeaderBlog {
    background-image: url("Images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-attachment: fixed;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutHeaderBlog div {
    text-align: center;
    width: 90%;
}
.aboutHeaderBlog div h2 {
    font-size: 3em;
}
.aboutInfoImg img{
    width: 350px;
    height: 350px;
    margin-top: -40px;
}
.aboutInfoRow h2 {
    font-size: 2.5em;
}
.aboutBoxWraper {
    padding: 40px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.aboutBox {
    width: 31%;
    margin-top: 20px;
    background: #FA003A;
    color: white;
    padding: 20px 30px;
    text-align: center;
}
.aboutBox .glyphicon {
    font-size: 50px;
}
#testSlider {
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}
.testSliderItem {
    line-height: 10px;
    color: white;
    padding: 0 50px;
}
.testArrowLeft , .testArrowRight {
    top: 40%;
    background-image: none!important;
    width: unset;
}
@media only screen and (max-width: 992px) {
    .aboutInfoRow {
        padding: 0 30px;
    }
    .aboutBoxRow {
        padding: 0 60px;
    }
}
@media only screen and (max-width: 768px) {
    .aboutInfoImg img{
        width: 250px;
        height: 250px;
        margin-top: -40px;
    }
    
}
@media only screen and (max-width: 425px) {
    .aboutInfoRow {
        padding: 0 10px;
    }
    .aboutBoxRow {
        padding: 0;
    }
    .aboutBoxWraper {
        justify-content: center;
    }
    .aboutBox {
        width: 80%;
        padding: 20px 20px;
    }
    .testimonial h2 {
        font-size: 2em;
    }
}

/* -------------- BLOG ----------------- */
.blog {
    padding: 20px 0 0 0;
}
.blogThumbnail {
    padding: 0px;
}
.blogThumbnail img {
    height: 275px;
}
.blogThumbnailRed {
    background: #FA003A;
}
.blogThumbnailBlue {
    background: #4D3BF5;
}
.text-white {
    color: white;
}
/* --------------SERVICES--------------- */
.servicesRow {
    padding: 40px 0 20px 0;
}
 .servicesThumbnail {
    border: none;
 }
 .inactiveLink:hover {
     text-decoration: none;
     color: black;
 }
 .pTitle {
     font-size: 1.8em;
 }
 .servicesGlyph {
     font-size: 2em;
 }
 .servicesBtn {
     background: #FA003A;
     color: white;
     pointer-events: auto;
     border: none;
 }
 .servicesBtn:hover {
    background: #FA003A;
    color: white;
 }
 .servicesBtn:focus {
    background: #FA003A;
    color: white;
    outline: none;
 }
.pFooter {
    color: rgb(143, 143, 143);
}
.qA {
    background: #373C42;
    color: white;
    padding: 30px 0 ;
}
.qAWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.qABox {
    width: 47%;
}
.qABoxBg {
    background: #363636;
    border: 1px solid #333333;
    margin-top: 0!important;
}
.qAPanelBody {
    border-top: 1px solid #333333!important;
}
.qABoxBg a {
    text-decoration: none;
}
@media only screen and (max-width: 425px) {
   .qAWrapper {
       flex-wrap: wrap;
   }
   .qABox {
       width: 100%;
   }
}
/* ---------------CONTACT------------------ */
.contactFormRow {
    padding: 10px 0;
}
.contactInfo {
    border: 1px solid #E4E4E4;
    padding: 20px 30px;
    border-radius: 2px;
}
.contactFormWrapper {
    padding-left: 20px;
    padding-right: 0;
}
.contactForm {
    border: 1px solid #E4E4E4;
    padding: 20px;
}
.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactFormInput {
    width: 48%;
    border:2px solid #E4E4E4;
    border-radius: 2px;
    padding: 5px 10px;
}
.contactFormInput:focus {
    outline: none;
    border: 1px solid rgb(255, 0, 4);
}
.contactFormText {
    width: 100%;
    border:2px solid #E4E4E4;
    border-radius: 2px;
    padding: 5px 10px;
}
.contactFormText:focus {
    outline: none;
    border: 1px solid rgb(255, 0, 4);
}
.mTop20 {
    margin-top: 20px;
}
.fName20 {
    margin-bottom: 0px;
}
.contactSubmit {
    background: transparent;
    color: #FA003A;
    border-color: #FA003A;
}
.contactSubmit:hover {
    color: #FA003A;
}
.staffPic {
    width: 200px;
    height: 200px;
}
.qA h2 {
    margin-bottom: 40px;
    font-size: 40px;
}
@media only screen and (max-width: 968px) {
    .contactFormInput {
        width: 100%;
    }
    .fName20 {
        margin-bottom: 20px;
    }
    .contactFormRow {
        padding-left:20px;
        padding-right:20px; 
    }
    .staffPic {
        width: 120px;
        height: 120px;
    }
    .qA h3 {
        font-size: 1.3em;
    }
 }
@media only screen and (max-width: 425px) {
    .contactFormWrapper {
        padding: 20px;
    }
    .contactInfo {
        margin: 20px 20px 0 20px;
    }
    .contactFormWrapper {
        padding: 20px;
    }
    .contactForm {
        padding: 30px;
    }
    .contactFormRow {
        padding-left:0px;
        padding-right:0px;
        
    }
    .staffPic {
        width: 150px;
        height: 150px;
    }
    .qA h3 {
        font-size: 1.6em;
    }
    
 }